@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(+50%);
    }
  }

  .animate-marquee {
    animation: marquee 120s linear infinite;
  }
}